<%= form_with(model: comment = @comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :commenter %>
    <%= form.text_field :commenter, :size => 50 %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, :cols => "60", :rows => "10" %>
  </div>

  <div class="field">
    <%= form.hidden_field :date, :value => DateTime.now.strftime("%a %d %b %Y, %H:%M%p") %>
  </div>

  <div class="field">
    <%= form.hidden_field :article_id %>
  </div>

  <button type="submit" class="btn btn-success btn-sm">Post comment</button>

<% end %>
