<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, :size => 100 %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, :cols => "100", :rows => "10" %>
  </div>

  <div class="field">
    <%= form.hidden_field :date, :value => DateTime.now.strftime("%a %d %b %Y, %H:%M%p") %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>

  <button type="submit" class="btn btn-success btn-sm">Save article</button>
  <button type="button" class="btn btn-secondary btn-sm" onclick="window.history.back()">Go back</button>
<% end %>