<p id="notice"><%= notice %></p>

<h1>Articles</h1>
<% if user_signed_in? %>
  <a class="btn btn-primary btn-sm" href="/articles/new">New article</a>
<% end %>
<% @articles.each do |article| %>
  <h3><%= link_to article.title, article %></h3>
  <datestyle><%= article.date.strftime("%a, %d %b %Y") %></datestyle>
  <p><div class="truncate lines-3"><%= simple_format(article.text) %></div></p>
  <div style="font-style: italic; font-weight: bold"><%= link_to 'Keep reading...', article %></div>
<% end %>
