<p id="notice"><%= notice %></p>

<h1>Articles</h1>
<a class="btn btn-primary btn-sm" href="/articles/new">New article</a>
<% @articles.each do |article| %>
  <h3><%= link_to article.title, article %></h3>
  <datestyle><%= article.date.strftime("%a, %d %b %Y") %></datestyle>
  <p><%= simple_format(article.text) %></p>
  <div style="font-style: italic; font-weight: bold"><%= link_to 'Keep reading...', article %></div>
<% end %>
