<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="bgimg">
    <div class="caption">
      <span class="border">MOUNTAIN AT MY GATES</span>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: #282E34;">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/articles">Articles<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link" href="/contact">Contact</a>
      </div>
    </div>
    <form class="form-inline">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-dark btn-sm" %>
      <% else %>
        <%= link_to "Log in", user_session_path, :method => :post, :class => "btn btn-dark btn-sm" %>
        <%= link_to "Sign up", new_user_registration_path, :method => :get, :class => "btn btn-light btn-sm" %>
      <% end %>
    </form>
  </nav>
  <br />
  <div style="background-color: white;">
    <div class="container">
      <div>
        <%= yield %>
      </div>
    </div>
  </div>
  <br />
  <div class="bgimg">
    <div class="caption">
      <span class="border">Goodbye, see ya again!</span>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  <footer>
    Mariam V. Maldonado, 2019.
  </footer>
</html>
